.about-us {
  position: relative;

  background-image: url("./../../img/mobile/about-mobile.png"), url("./../../img/back.svg");
  background-repeat: no-repeat;
  background-position: 65% 100%, 0 56%;
  background-color: @special-blue-accent;
  .background__border();

  z-index: 6;

  @media (min-resolution: 2dppx) {
    background-image: url("./../../img/mobile/about-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("./../../img/tablet-desktop/img-tablet.png"), url("./../../img/back-tablet.svg");
    background-position: 98% 76%, center 33%;

    @media (min-resolution: 2dppx) {
      background-image: url("./../../img/tablet-desktop/img-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: -50px;

    background-image: url("./../../img/desktop/img-back.png");
    background-position: 92% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("./../../img/desktop/img-back@2x.png");
    }
  }
}

.about-us__wrapper {
  .wrapper-mobile();
  position: relative;
  padding: 310px 0 62px 0;


  @media (min-width: @tablet-width) {
    .wrapper-tablet();
    padding: 277px 0 89px 0;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    padding: 182px 0 163px 0;

    &::before {
      content: "";
      position: absolute;

      top: 15%;

      width: 212px;
      height: 212px;

      background-color: @basic-blue-background;
      border-radius: 20px;

      z-index: -1;
    }
  }
}

.about-us__wrapper-text {
  .margin-left-mobile();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 323px;

    .margin-left-tablet();
  }

  @media (min-width: @desktop-width) {
    width: 620px;
    .margin-left-desktop();
  }
}

.about-us__title {
  .section-title();
}

.about-us__desc {
  .section-text();
  width: 211px;
  margin-bottom: 20px;
  color: @white;

  @media (min-width: @tablet-width) {
    width: 308px;
    margin-bottom: 31px;
  }

  @media (min-width: @desktop-width) {
    width: 619px;
    margin-bottom: 38px;
    line-height: 34px;
  }
}

.about-us__wrap {
  .wrap();
}

.about-us__desc--bold {
  .section-text--accent();

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 425px;
    line-height: 24px;
    margin-bottom: 85px;
  }
}

.about-us__button {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 276px;
  }
}
