.about-us {
  background-color: @special-blue-accent;
}

.about-us__title {
  .section-title();
}

.about-us__desc {
  color: @white;
}


.about-us__desc {
  .section-text();
  margin-bottom: 20px;
}

.about-us__desc--bold {
  .section-text--accent();
}
