.alphabet__container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.alphabet__list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(6, auto);

  margin-bottom: 13px;
}

.alphabet__link {
  display: block;

  margin: -1px -1px 0 0;
  padding: 10px 15px;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;

  text-align: center;
  text-transform: uppercase;

  color: @basic-blue;

  background-color: @white;
  border: 1px solid @basic-grey-border;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 10px 15px;

    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: @special-blue-accent-opacity-30;

    background-color: transparent;
    border: none;
  }
}

.alphabet__link--selected {
  color: @white;

  background-color: @basic-blue;
  border: 1px solid @basic-blue;

  @media (min-width: @tablet-width) {
    color: @special-blue-accent;

    background-color: transparent;
    border: none;
  }
}

.alphabet__countries-list--current {
  margin-bottom: 28px;
}

.alphabet__country {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: @special-grey;
}

.alphabet__table-row {
  display: flex;
  justify-content: space-between;
  width: 1320px;
  margin-bottom: 50px;
}

.alphabet__letter {
  margin-bottom: 31px;

  font-weight: bold;
  font-size: 60px;
  line-height: 60px;

  text-transform: uppercase;

  color: @special-blue-accent;
}

.alphabet__letter-link {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  color: @special-grey;
}
