.button {
  display: block;
  padding: 22px 23px;

  font-family: @main-font;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;

  text-align: start;

  color: @basic-blue;

  border: none;
  background-color: @basic-yellow;
  border-radius: 10px;

  &:hover {
    background-color: @special-yellow-dark;
  }

  &:active {
    color: @basic-blue-dark-opacity-30;
  }

  @media (min-width: @tablet-width) {
    height: 80px;
    padding: 29px 38px 27px 33px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;
  }
}

.button--decoration {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: "";

    width: 0;
    height: 0;

    border-top: 5px solid transparent;
    border-left: 10px solid @basic-blue;
    border-bottom: 5px solid transparent;
  }
}

.route__button:hover .button--decoration::after {
  border-left: 10px solid @white;
}
