.companion-choice__form {
  padding: 26px 25px 22px 25px;

  background-color: @basic-yellow;

  border-radius: 20px;
}

.companion-choice__filter,
.companion-choice__reversal {
  font-weight: bold;
  color: @basic-blue;
  border: none;
}

.companion-choice__filter {
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.companion-choice__list {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.companion-choice__title {
  margin-bottom: 23px;

  font-size: 22px;
  line-height: 22px;

  letter-spacing: 0.02em;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.companion-choice__item:not(:last-child) {
  margin-bottom: 12px;
}

.companion-choice__reversal {
  margin-bottom: 16px;
  padding: 12px 0 0 0;

  font-family: @main-font;
  font-size: 16px;
  line-height: 18px;

  text-align: left;
  text-transform: uppercase;

  background-color: transparent;

  @media (min-width: @tablet-width) {
    width: 105px;
    margin-bottom: 0;
    padding: 0;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
}

.companion-choice__label {
  display: block;

  position: relative;
  padding-left: 27px;

  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.companion-choice__checkbox + .companion-choice__label::before {
  content: "";
  position: absolute;

  left: 0;
  top: 0;

  width: 18px;
  height: 18px;

  background-color: @white;
  .fields-border();
  border: none;
  cursor: pointer;
}

.companion-choice__button {
  width: 100%;
  padding: 14px;

  background-color: @white;
  border-radius: 25px;
}
