.companions {
  position: relative;
  margin-top: -30px;
  padding: 100px 0 31px 0;

  background-color: @special-blue-accent;
  .background__border();

  background-image: url("../img/smolov-back.png"), url("../img/mobile/rogovaya-back.png");
  background-repeat: no-repeat;
  background-position: 85% 65px, 0 26%;

  z-index: 4;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/smolov-back@2x.png"), url("../img/mobile/rogovaya-back@2x.png");
  }

  @media (min-width: @tablet-width) {
    .margin-top-tablet();
    padding: 218px 0 87px 0;

    background-image: url("../img/smolov-back.png"), url("../img/tablet-desktop/rogovaya-back-desktop.png");
    background-position: 40px 42%, 85% 15%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/smolov-back@2x.png"), url("../img/tablet-desktop/rogovaya-back-desktop@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    padding: 205px 0 134px 0;

    background-position: 42% 31%, 16% 85%;
  }
}

.companions__wrapper {
  position: relative;
  .wrapper-mobile();

  &::before {
    content: "";
    position: absolute;

    top: -35px;
    left: -25px;

    width: 113px;
    height: 132px;

    background-color: @basic-blue-background;
    border-radius: 20px;
    z-index: -1;

    @media (min-width: @desktop-width) {
      top: -60px;
      left: 0;

      width: 212px;
      height: 212px;
    }
  }

  @media (min-width: @tablet-width) {
    .wrapper-tablet--min();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    display: grid;
    column-gap: 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
  }
}

.companions__title {
  .section-title();
  .margin-left-mobile();

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    .margin-left-desktop();
  }
}

.companions__desc {
  .section-text();
  .margin-left-mobile();
  width: 217px;
  margin-bottom: 20px;
  color: @white;

  @media (min-width: @tablet-width) {
    width: 427px;
    margin-bottom: 40px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    .margin-left-desktop();
  }
}

.companions__desc--bold {
  .section-text--accent();
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 3;
    grid-row-end: 4;

    margin-bottom: 85px;
  }
}

.companions__wrap {
  .wrap();

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.companions__people {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 81px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: 5;

    margin-bottom: 0;
  }
}

.companions__button {
  @media (min-width: @tablet-width) {
    padding-top: 28px;
    padding-left: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 4;
    grid-row-end: 5;

    width: 280px;

    .margin-left-desktop();
    padding-left: 35px;
  }
}
