.country-list__item {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.country-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.country-list__item picture {
  line-height: 0;
  font-size: 0;

  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.country-list__img {
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    width: auto;
    border-radius: 0 20px 20px 0;
  }
}

.country-list__container {
  display: flex;
  justify-content: start;
  position: relative;

  margin-top: -20px;
  padding: 26px 24px 24px;

  background-color: @white;
  border-radius: 10px;

  z-index: 2;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    width: 430px;

    margin-top: 0;
    padding: 30px 30px 20px;

    border-radius: 20px 0 0 20px;
  }

  @media (min-width: @desktop-width) {
    width: 372px;
    padding-top: 25px;
  }
}

.country-list__container--without-padding {
  padding-bottom: 3px;

  @media (min-width: @tablet-width) {
    padding-bottom: 20px;
  }
}

.country-list__country {
  position: relative;
  margin-right: 12px;
  width: 150px;

  @media (min-width: @tablet-width) {
    width: 200px;
    margin-bottom: 20px;
  }
}

.country-list__country--without-margin {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.country-list__caption {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;

  color: @black;

  &::before {
    content: "";
    position: absolute;

    top: -40px;
    left: 0;

    width: 35px;
    height: 24px;

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;

    @media (min-width: @tablet-width) {
      top: -15px;
      right: -238px;
      left: auto;

      width: 70px;
      height: 47px;
    }

    @media (min-width: @desktop-width) {
      top: 0;
      right: -178px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 24px;

    margin-bottom: 5px;
  }
}

.country-list__caption--france::before {
  background-image: url("../../img/flags/france.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/flags/france@2x.png");
  }
}

.country-list__caption--czech::before {
  background-image: url("../../img/flags/czechia.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/flags/czechia@2x.png");
  }
}

.country-list__caption--thailand::before {
  background-image: url("../../img/flags/thailand.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/flags/thailand@2x.png");
  }
}

.country-list__desc,
.country-list__user-count {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: @special-grey-opacity-30;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.country-list__desc--width-s {
  @media (min-width: @tablet-width) {
    width: 132px;
  }
}

.country-list__user-count {
  align-self: start;

  display: flex;
  align-items: center;

  &::before {
    content: "";

    width: 11px;
    height: 12px;

    margin-right: 7px;

    background-image: url("../../img/persona.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
