.destination {
  padding: 80px 0 34px 0;
  background-color: @basic-blue-light;
  .background__border();

  @media (min-width: @tablet-width) {
    padding: 149px 0 80px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 176px 0 87px 0;
  }
}

.destination__wrapper {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    display: grid;
    column-gap: 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
}

.destination__title {
  .section-title();
}

.destination__desc {
  .section-text();
  margin-bottom: 60px;

  @media (min-width: @tablet-width) {
    width: 378px;
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.destination__list {
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

.destination__button {
  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
