.filtration {
  padding: 40px 0 28px 0;
  background-color: @basic-blue-background;
}

.filtration__list {
  margin-bottom: 20px;
}

.filtration__title,
.filtration__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
}

.filtration__link {
  color: @special-blue-accent-opacity-30;
}

.filtration__title,
.filtration__link--current {
  color: @special-blue-accent;
}
