.instruction {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  z-index: 7;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 315px 345px 345px 315px;
  }
}

.instruction__item {
  display: flex;
  justify-content: space-between;

  margin-top: -55px;
  padding: 22px 21px 75px 24px;

  font-weight: bold;
  font-size: 18px;
  line-height: 100%;

  background-color: @special-orange;
  border-radius: 15px;

  @media (min-width: @tablet-width) {
    flex-direction: column;

    margin-top: 0;
    padding: 31px 100px 21px 33px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: start;
    padding: 30px 50px 29px 34px;

    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.instruction__item:first-child {
  @media (max-width: @mobile-width-only) {
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.instruction__item:nth-child(2) {
  background-color: @special-orange-light;

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.instruction__item:nth-child(3) {
  background-color: @special-yellow-dark;

  @media (max-width: @mobile-width-only) {
    margin-top: -52px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 5;
  }
}

.instruction__item:last-child {
  background-color: @basic-yellow;

  @media (max-width: @mobile-width-only) {
    margin-top: -53px;
    padding-bottom: 24px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
}

.instruction__item:first-child,
.instruction__item:nth-child(2) {
  @media (min-width: @tablet-width) {
    border-radius: 15px 15px 0 0;
  }

  @media (min-width: @desktop-width) {
    border-radius: 20px;
  }
}

.instruction__item:last-child,
.instruction__item:nth-child(3) {
  @media (min-width: @tablet-width) {
    border-radius: 0 0 15px 15px;
  }

  @media (min-width: @desktop-width) {
    border-radius: 20px;
  }
}

.instruction__item:nth-child(1),
.instruction__item:nth-child(3) {
  @media (min-width: @tablet-width) {
    padding-right: 150px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 50px;
  }
}

.instruction__item:nth-child(2),
.instruction__item:nth-child(4) {
  @media (min-width: @tablet-width) {
    margin-left: -25px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}


.instruction__desc {
  width: 140px;
  color: @basic-blue-dark;

  @media (min-width: @tablet-width) {
    width: 185px;
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.instruction__step {
  color: @white;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
    line-height: 24px;
  }
}
