.level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.level__number,
.level__text {
  line-height: 100%;
  color: @white;
}

.level__number {
  font-weight: bold;
  font-size: 24px;

  border-bottom: 1px solid @white-opacity-30;
}

.level__text {
  font-size: 14px;
}
