.level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.level__number,
.level__text {
  line-height: 100%;
  color: @white;
}

.level__number {
  font-weight: bold;
  font-size: 24px;
}

.level__text {
  font-size: 14px;
}

.level__number--profile,
.level__text--profile {
  color: @basic-blue-dark;
}

.level__number--profile {
  font-size: 38px;
}

.level__text--profile {
  font-size: 18px;
}
