.main-nav {
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: 45px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 0;
  }
}

.main-nav__toggle {
  display: block;
  position: relative;
  width: 25px;
  height: 15px;
  background-color: transparent;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 25px;
    height: 3px;

    background-color: @white;
    border-radius: 1.5px;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__contacts,
.main-nav__social {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__user {
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
  }

  @media (min-width: @desktop-width) {
    position: static;
    display: flex;
    margin-bottom: 0;
  }
}

.main-nav__contacts {
  margin-bottom: 40px;
}

.main-nav__user-button {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}
