.page-header {
  padding: 27px 0 41px 0;
  background-color: @white;

  @media (min-width: @tablet-width) {
    padding: 40px 0 91px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 46px 0 0;
    background-color: @basic-blue-dark;
  }
}

.page-header--inner {
  @media (min-width: @desktop-width) {
    background-color: @special-blue-accent;
  }
}

.page-header__wrapper {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }
}
