.people__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 4px 9px @black-opacity-16);
  }

  @media (max-width: @mobile-width-only) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.people__persona {
  position: relative;
}

.people__img {
  border-radius: 10px 10px 0 0;

  @media (min-width: @tablet-width) {
    border-radius: 20px 20px 0 0;
  }
}

.people__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 270px;

  margin-top: -10px;
  padding: 31px 36px 20px 36px;

  background-color: @white;
  border-radius: 0 0 10px 10px;

  @media (min-width: @tablet-width) {
    width: 285px;
    padding-bottom: 27px;

    border-radius: 0 0 20px 20px;
  }
}

.people__level {
  position: absolute;
  top: 17px;
  left: 17px;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  background-color: @black-opacity-60;

  @media (min-width: @tablet-width) {
    top: 20px;
    left: 20px;
  }

  @media (min-width: @tablet-width) {
    top: 20px;
    left: 22px;
  }
}

.people__name {
  position: relative;
  margin-bottom: 15px;

  font-weight: bold;
  font-size: 21px;
  line-height: 21px;

  color: @basic-blue;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;

    top: 7px;
    left: -15px;

    width: 6px;
    height: 6px;

    border-radius: 50%;
  }

  @media (min-width: @tablet-width) {
    margin-top: 8px;
    margin-bottom: 22px;

    font-size: 24px;
    line-height: 22px;

    &::before {
      left: -25px;

      width: 8px;
      height: 8px;
    }

    &--petya {
      margin-right: 18px;
    }
  }
}

.people__name--offline::before {
  background-color: @special-red-status;
}

.people__name--online::before {
  background-color: @special-green-status;
}

.people__flags {
  display: flex;

  margin-top: -40px;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    margin-top: -45px;
  }
}

.people__flag-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  position: relative;

  margin-right: 15px;

  font-size: 0;
  line-height: 0;

  &:last-child {
    margin-right: 0;
  }
}

.people__flag {
  width: auto;
  height: 25px;
}

.people__flag-item:hover .people__tooltip {
  display: flex;
}

.people__tags {
  margin-bottom: 14px;
  width: 200px;

  @media (min-width: @tablet-width) {
    width: 230px;

    margin-bottom: 24px;
  }
}
