.people__level {
  width: 60px;
  height: 60px;
  border-radius: 50%;

  background-color: @black-opacity-60;
}

.people__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 17px 17px 20px 17px;

  margin-bottom: 10px;
  background-color: @white;
}

.people__name {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;

  color: @basic-blue;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 22px;
  }
}
