.profile__button-change {
  text-align: center;
  text-transform: uppercase;
  color: @basic-blue-dark;
  background-color: @special-blue-light;
}

.profile__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 112%;

  text-transform: uppercase;

  color: @basic-blue;

  background-color: @basic-grey;
}

.profile__textarea,
.profile__transport {
  width: 100%;
  padding: 26px;

  background-color: transparent;
  border: 1px solid @basic-grey-border;
  border-radius: 10px;
}

.profile__textarea {
  resize: none;
  color: @special-grey-opacity-60;
}
