.promo {
  background-color: @basic-blue-dark;
}

.promo__slogan,
.promo__quote {
  color: @white;
}

.promo__slogan {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 111%;

  text-align: center;
}

.promo__quote {
  margin-bottom: 30px;
}
