.promo {
  padding: 94px 0 0;

  background-color: @basic-blue-dark;

  background-image: url("../img/promo-backgraund/traveller-illustration-mobile.png"), url("../img/promo-backgraund/globe-back-mobile.png");
  background-repeat: no-repeat;
  background-position: 63% 222px, 0 0;
  background-size: 192px auto, 320px auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-backgraund/traveller-illustration-mobile2x.png"), url("../img/promo-backgraund/globe-back-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    position: relative;

    padding: 162px 0 0;
    background-color: @special-blue-accent-background;

    background-image: url("../img/promo-backgraund/traveller-illustration-tablet.png"), url("../img/promo-backgraund/globe-back-tablet.png");
    background-position: 72% 59%, 0 73%;
    background-size: 372px auto, 768px auto;

    z-index: 8;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-backgraund/traveller-illustration-tablet2x.png"), url("../img/promo-backgraund/globe-back-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    background-color: @basic-blue-dark;
    border-radius: 0 0 50px 50px;

    background-image: url("../img/promo-backgraund/traveller-illustration-desktop.png"), url("../img/promo-backgraund/globe-back-desktop.png");
    background-position: 60% 4px, 0 -100px;
    background-size: 431px auto, 1440px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-backgraund/traveller-illustration-desktop@2x.png"), url("../img/promo-backgraund/globe-back-desktop@2x.png");
    }
  }
}

.promo__wrapper {
  position: relative;
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    padding-bottom: 123px;
  }
}

.promo__container {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 210px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: 1320px;

    margin-bottom: 100px;
    padding-top: 104px;
  }
}

.promo__slogan,
.promo__quote {
  color: @white;
}

.promo__slogan {
  position: relative;
  margin-bottom: 243px;

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;

  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 86px;
    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    .margin-left-desktop();
    margin-bottom: 0;
  }
}

.promo__quote {
  @media (max-width: @mobile-width-only) {
    .margin-left-mobile();
    width: 161px;
  }

  @media (min-width: @tablet-width) {
    .margin-left-tablet();
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    margin: 10px 23px 0 0;
  }
}

.promo__user {
  display: flex;
  width: 270px;

  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.promo__contact {
  @media (max-width: @mobile-width-only) {
    width: 40px;
    height: 40px;
  }
}

.promo__authorization {
  @media (max-width: @mobile-width-only) {
    padding: 5px;
  }
}

.promo__instruction {
  @media (max-width: @mobile-width-only) {
    margin-bottom: -240px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: -140px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}
