.route {
  background-color: @basic-yellow;
}

.route__address {
  font-weight: bold;
  font-size: 16px;
  line-height: 137%;
  text-transform: uppercase;
  color: @basic-blue;
}

.route__button {
  background-color: transparent;
}
