.site-list {
  margin-bottom: 51px;

  font-weight: 500;
  font-size: 30px;
  line-height: 117%;

  text-transform: uppercase;
}

.site-list__link {
  text-align: center;
  color: @special-blue-accent;
}
