.tariffs {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;

  background-color: @special-blue-dark;
}

.tariffs__title {
  .section-title();
}

.tariffs__number {
  font-weight: normal;
  background-color: @special-orange;
}

.tariffs__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: @special-blue-dark-accent;

  border: none;
  background-color: transparent;
}
