.tariffs {
  padding: 70px 0 38px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;

  background-color: @special-blue-dark;
  .background__border();

  @media (min-width: @tablet-width) {
    padding: 135px 0 63px;
  }

  @media (min-width: @desktop-width) {
    padding: 175px 0 165px 0;
  }
}

.tariffs__wrapper {
  .wrapper-mobile();

  @media (min-width: @tablet-width) {
    .wrapper-tablet();
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }
}

.tariffs__title {
  .section-title();
  text-align: center;
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    margin-bottom: 73px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 134px;
  }
}

.tariffs__number {
  font-weight: normal;
  background-color: @special-orange;
  color: @white;

  @media (min-width: @tablet-width) {
    order: -1;
  }
}

.tariffs__item {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;

    font-size: 28px;
    line-height: 28px;
  }
}

.tariffs__button {
  font-family: @main-font;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: @special-blue-dark-accent;

  border: none;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
