.user-list__authorization {
  padding: 14px;
  flex-grow: 2;

  font-size: 17px;
  line-height: 176%;

  text-align: center;
  text-transform: uppercase;

  color: @basic-blue-dark;

  background-color: @basic-yellow;
  border-radius: 25px;

  @media (min-width: @tablet-width) {
    padding: 10px;
    height: 50px;
  }
}

.user-list__contact {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-list__icon {
  position: absolute;
  top: 12px;
  left: 11px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    top: 16px;
    left: 16px;
  }
}


.user-list__contact--call {
  background-color: @special-orange;

  &:hover {
    background-color: @special-orange-icon;
  }
}

.user-list__contact--email {
  background-color: @special-yellow-dark;

  &:hover {
    background-color: @special-orange;
  }
}
